<!-- templates/history.html -->
{% extends "base.html" %}

{% block content %}
<div class="content">
    <div class="horizontal-line"></div>
    <h1 class="header" style="margin-top: 50px;">{{ user_id }}님의 진단 기록</h1>
    <table class="history-table">
        <thead>
            <tr>
                <th>번호</th>
                <th>예측 결과</th>
                <th>예측 시간</th>
            </tr>
        </thead>
        <tbody>
            {% for record in history_records %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ record.prediction }}</td>
                <td>{{ record.prediction_time.strftime('%Y-%m-%d %H:%M:%S') }}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="3">진단 기록이 없습니다.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
