<!-- templates/history.html -->
{% extends "base.html" %}

{% block content %}
<div class="content">
    <div class="horizontal-line"></div>
    <h1 class="header">Your History</h1>
    <table class="history-table">
        <thead>
            <tr>
                <th>Prediction</th>
                <th>Time</th>
                <th>Image</th>
                <th>Explanation</th>
            </tr>
        </thead>
        <tbody>
            {% for record in history_records %}
            <tr>
                <td>{{ record.prediction }}</td>
                <td>{{ record.prediction_time }}</td>
                <td>
                    <img src="{{ url_for('static', filename='uploads/' + record.img) }}" alt="Uploaded Image" class="history-image">
                </td>
                <td>{{ record.explains_html | safe }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
