<!-- templates/index.html -->
{% extends "base.html" %}

{% block content %}
<div class="content">
    <div class="horizontal-line"></div>
    <h1 class="header">Personal Color Diagnosis</h1>
    <p class="subheader">Upload your image for diagnosis</p>
    <form id="upload-form" action="/personal_color" method="post" enctype="multipart/form-data" onsubmit="return checkFileUpload(event)">
        <label for="file-input" class="file-input-label">
            Choose an image
        </label>
        <input type="file" id="file-input" name="file" accept="image/*" onchange="previewFile(event)" class="file-input">
        <span id="file-name"></span>
        <img id="preview">
        <br>
        <input type="submit" value="Upload Image to AI" class="upload-button">
    </form>
</div>

<script>
    function previewFile(event) {
        const input = event.target;
        const fileName = input.files[0].name;
        document.getElementById('file-name').textContent = `Selected file: ${fileName}`;

        const reader = new FileReader();
        reader.onload = function(){
            const preview = document.getElementById('preview');
            preview.src = reader.result;
            preview.style.display = 'block';
        }
        reader.readAsDataURL(input.files[0]);
    }

    function checkFileUpload(event) {
        const input = document.getElementById('file-input');
        if (input.files.length === 0) {
            event.preventDefault(); // 폼 제출을 막음
            alert('파일을 선택해주세요.');
            return false;
        } 
        return true;
    }
</script>
{% endblock %}
